h1{
  text-align: center;
  font-weight: bold;
  color: brown;
}

h2{
  font-style: italic;
  color: purple;
  font-family: sans-serif;
}

li {
  color: blueviolet;
  font-style: italic;
}

body{
  
  background-color: beige;
}

